{% extends 'layout/base.html' %}
{% load static %}

{% block content %}

  {% comment %} #dev_47 head 수정 {% endcomment %}
  {% include 'payment/head.html' %}
  
  {% comment %} dev_47 {% endcomment %}
  <script>

    var impCode = 'imp43216235';

    function handlePayment(pg, pay_method){
      console.log("handlePayment");
      console.log(pg);
      console.log(payMethod);

      var order = {
          productId: 1,
          productName: '상품1',
          price: 3000,
          quantity: 1
      };

        // 결제하기 버튼 클릭 시 결제 요청
      IMP.init(impCode);
      IMP.request_pay({
          pg: pg,
          pay_method: payMethod,
          //merchant_uid: '212R3A11TD233AAC', // 주문번호 생성(생략시 포트원에서 자동생성)
          name: '상품1', //결제창에 노출될 상품명
          amount: 3000, // 결제 가격
          buyer_name: '김민규',
          buyer_tel: '010-1234-5678'
        }, function(rsp) {
            if (rsp.success) {
                // 결제 성공 시
                $.ajax({
                    type: 'POST',
                    url: 'api/v1/payment/validation/' + rsp.imp_uid
                }).done(function(data) {
                    console.log(data);
                    if (order.price == data.response.amount) {
                        order.impUid = rsp.imp_uid;
                        order.merchantUid = rsp.merchant_uid;
                        // 결제 금액 일치. 결제 성공 처리
                        $.ajax({
                            url: "api/v1/payment/order",
                            method: "post",
                            data: JSON.stringify(order),
                            contentType: "application/json"
                        }).then(function(res) {
                            console.log("res", res);
                            console.log("rsp", rsp);
                            var msg = '결제가 완료되었습니다.';
                            msg += '고유ID : ' + rsp.imp_uid;
                            msg += '상점 거래ID : ' + rsp.merchant_uid;
                            msg += '결제 금액 : ' + rsp.paid_amount;
                            msg += '카드 승인번호 : ' + rsp.apply_num;
                            alert(msg);
                        }).catch(function(error) {
                            alert("주문정보 저장을 실패 했습니다.");
                        });
                    }
                }).catch(function(error) {
                    alert('결제에 실패하였습니다. ' + rsp.error_msg);
                });
            } else {
                alert(rsp.error_msg);
            }
        });
    }

    function requestPay() {
      //const amount = document.getElementById("price").value;
      const amount = 100;

      const IMP = window.IMP; 
      IMP.init("imp43216235"); // 예: imp00000000a
      IMP.request_pay(
        {
          pg: "html5_inicis", //PG사
          pg: "kakaopay", //PG사
          pay_method: "card", //결제방식
          //pay_method: "kakaopay", //결제방식          
          //merchant_uid: "ORD20180131-0000011", // 주문번호, 상품ID, 생략시 자동생성
          name: "노르웨이 회전 의자",
          amount: amount, // 결제금액
          buyer_email: "gildong@gmail.com",	//구매자 이메일
          buyer_name: "홍길동",	//구매자 이름
          buyer_tel: "010-4242-4242",	//구매자 전화번호
          buyer_addr: "서울특별시 강남구 신사동",	//구매자 주소
          buyer_postcode: "01181",	//구매자 번호
        },
        function (rsp) {
          //https://happyzodiac.tistory.com/75#(1)%20Front-1
          //https://velog.io/@ryusemin/React%EC%97%90%EC%84%9C-%EB%AA%A8%EC%9D%98%EA%B2%B0%EC%A0%9C-%EA%B5%AC%ED%98%84-Portone-API
          // 결제 종료 시 호출되는 콜백 함수
          // response.imp_uid 값으로 결제 단건조회 API를 호출하여 결제 결과를 확인하고,
          // 결제 결과를 처리하는 로직을 작성합니다.
          console.log(rsp);

          if (rsp.success) {
            //Backend API에 결제완료 처리
            //axios.post(
            //  "http://localhost:3000/payment",
            //  {
            //    impUid: rsp.imp_uid,
            //    amount: rsp.paid_amount,
            //  },
            //  {
            //    /*
            //    headers: {
            //      Authorization: "Bearer " + token,
            //    },
            //    */
            //  }
            //);
            
            alert("결제 성공");
          } else {
            alert("결제 실패");
          }
        }
      );
    }
  </script>


  <!-- 네비게이션바 -->
  {% include "layout/navbar.html" %}

  <header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">장바구니</h1>
        <p class="lead fw-normal text-white-50 mb-0">View your Cart</p>
      </div>
    </div>
  </header>

  <br/>

  <div class="container">
    {% if cart_products%}
      {% for product in cart_products %}
        <form action="{% url 'payment:payment_process_order'%}" method="post">
          {% csrf_token %}
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src=" {{product.image.url}}" style="width:100%;height:18rem;object-fit:fill" class="img-fluid rounded-start" alt="..."/>
              </div>
              <div class="col-md-8">
                <div class="card-body mt-4">
                  <center>
                    <h5 class="card-title">{{product.name}}</h5>
                    <p class="card-text">{{product.description}}</p>

                    {% if product.is_sale%}

                      <div class="d-flex justify-content-center small text-warning mb-2">
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                        <div class="bi-star-fill"></div>
                      </div>
                      <!-- Product price-->
                      <strike>
                        ${{ product.price }}
                      </strike>
                      &nbsp; ${{product.sale_price}}
                    {% else %}
                      ${{ product.price }}
                      <br/>
                      ID :
                      {{product.id}}
                      {%endif%}
                      <br/><br/>
                      <div class="row justify-content-center">
                        <div class="col-md-2">Quantity</div>
                        <div class="col-md-2">
                          <select class="form-select form-select-sm" id="select{{product.id}}" aria-label="Default select example">
                            {% for key, value in quantities.items %}
                              {% if key == product.id|slugify%}
                                <option selected="selected">{{ value }}</option>
                              {% endif %}
                            {% endfor %}
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                          </select>
                        </div>
                      </div>
                      <br/>
                      <a href="{% url 'store:home' %}" class="btn btn-secondary">홈으로</a>
                      {% comment %} <button type="button" value="{{product.id}}" id="add-cart" class="btn btn-secondary">Add to Cart</button> {% endcomment %}
                      <button type="button" data-index="{{product.id}}" class="btn btn-secondary update-cart">업데이트</button>
                      <button type="button" data-index="{{product.id}}" class="btn btn-danger delete-product">삭제</button>
                    </center>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          {% comment %} #dev_43 {% endcomment %}
        </form>
        {% comment %} #dev_47 임시로 {% endcomment %}
        <div class="text-center">
          <h3 id="totals" data-totals="{{totals}}">Total:{{totals}}원</h3>
          {% comment %} <a class="btn btn-success text-center" href="{% url 'payment:payment_process_order'%}">주문</a> {% endcomment %}
          {% comment %} <button id="cardPay" onclick="handlePayment('html5_inicis.INIpayTest', 'card')" type="submit" class="btn btn-success text-center" >카드결제</button>
          <button id="kakaoPay" onclick="handlePayment('kakaopay', 'card')" type="submit" class="btn btn-success text-center" >카카오페이</button> {% endcomment %}
          <button id="cardPay" data-pg="html5_inicis.INIpayTest" data-pay="card"  class="btn btn-success text-center request-pay" >카드결제</button>
          <button id="kakaoPay" data-pg="kakaopay" data-pay="card" class="btn btn-success text-center request-pay" >카카오페이</button>
        </div>
        <br />
        <br />
        <br />
      {% else %}
        There's Nothing in your cart
      {% endif %}
    </div>

    <script>

      $(document).on('click', '.request-pay', function (e) {
        let pg = $(this).data('pg');
        let payMethod = $(this).data('pay');
        let priceTotals = $("#totals").data('totals');        

        // 결제하기 버튼 클릭 시 결제 요청
        IMP.init(impCode);
        IMP.request_pay({
          pg: pg,
          pay_method: payMethod,
          //merchant_uid: '212R3A11TD233AAC', // 주문번호 생성(생략시 포트원에서 자동생성)
          name: '장바구니 주문', //결제창에 노출될 상품명
          //amount: priceTotals, // 결제 가격
          amount: 100,//테스트를 위하여 100원으로 설정
          buyer_name: '{{user.username}}', // 구매자 이름
          buyer_tel: '010-1234-5678',
          //buyer_addr : buyerAddress, // 구매자 주소
          //buyer_postcode : '123-456', // 임의의 값
        }, function(rsp) {
            if (rsp.success) {
                // 결제 성공 시
                console.log(rsp);
                console.log("결재성공");                
                
                // 결제 성공 시 로직
                //1.주문 정보 저장을 위해 ajax 요청
                //2.서버에서 결재금액과 주문금액(세션에 저장되어있는)이 일치하는지 확인
                //3.일치하면 주문 정보 및 결재정보 저장
                $.ajax({
                  type: 'POST',
                  url: '{% url "payment:payment_process_order" %}',
                  data: {
                    imp_uid: rsp.imp_uid, //결재아이디(포트원에서 생성된 고유값)
                    paid_amount: rsp.paid_amount, //결재 금액                    
                    csrfmiddlewaretoken: '{{  csrf_token }}',
                    action: 'post'
                  },
                  success: function (json) {
                    console.log(json);
                    location.reload();
                  },
                  error: function (e) {
                    alert('결제에 실패하였습니다. ' + rsp.error_msg);
                  }
                });
                
                /*
                $.ajax({
                    type: 'POST',
                    url: 'api/v1/payment/validation/' + rsp.imp_uid
                }).done(function(data) {
                    console.log(data);
                    if (order.price == data.response.amount) {
                        order.impUid = rsp.imp_uid;
                        order.merchantUid = rsp.merchant_uid;
                        // 결제 금액 일치. 결제 성공 처리
                        $.ajax({
                            url: "api/v1/payment/order",
                            method: "post",
                            data: JSON.stringify(order),
                            contentType: "application/json"
                        }).then(function(res) {
                            console.log("res", res);
                            console.log("rsp", rsp);
                            var msg = '결제가 완료되었습니다.';
                            msg += '고유ID : ' + rsp.imp_uid;
                            msg += '상점 거래ID : ' + rsp.merchant_uid;
                            msg += '결제 금액 : ' + rsp.paid_amount;
                            msg += '카드 승인번호 : ' + rsp.apply_num;
                            alert(msg);
                        }).catch(function(error) {
                            alert("주문정보 저장을 실패 했습니다.");
                        });
                    }
                }).catch(function(error) {
                    alert('결제에 실패하였습니다. ' + rsp.error_msg);
                });
                */
              } else {
                alert(rsp.error_msg);
              }
        });


        /*
          $.ajax({
            type: 'POST',
            url: '{% url "cart:cart_update" %}',
            data: {
              product_id: $(this).data('index'),
              product_qty: qty,
              csrfmiddlewaretoken: '{{  csrf_token }}',
              action: 'post'
            },
            success: function (json) {
              console.log(json);
              location.reload();
            },
            error: function (e) {
              console.log(e);
            }
          });
        */ 

      });


      $(document).on('click', '.update-cart', function (e) {
        let productid = $(this).data('index');
        let qty = $('#select' + productid + ' ' + 'option:selected').text();

        $.ajax({
          type: 'POST',
          url: '{% url "cart:cart_update" %}',
          data: {
            product_id: $(this).data('index'),
            product_qty: qty,
            csrfmiddlewaretoken: '{{  csrf_token }}',
            action: 'post'
          },
          success: function (json) {
            console.log(json);
            location.reload();
          },
          error: function (e) {
            console.log(e);
          }
        });
      });

      $(document).on('click', '.delete-product', function (e) {
        let productid = $(this).data('index');
    
        $.ajax({
          type: 'POST',
          url: '{% url "cart:cart_delete" %}',
          data: {
            product_id: $(this).data('index'),    
            csrfmiddlewaretoken: '{{  csrf_token }}',
            action: 'post',
          },
          success: function (json) {
            console.log(json);
            location.reload(); //페이지 새로 고침
          },
          error: function (e) {
            console.log(e);
          },
        });
      });
    </script>
  {%endblock content%}
